@media only screen and (max-width: 600px) {

      table[class="body"] .right-text-pad {
        padding-left: 10px !important;
      }

      table[class="body"] .left-text-pad {
        padding-right: 10px !important;
      }

    }

    @media only screen and (max-width: 600px) {
      img#content-img,
      img#bottom-arrow {
        display: none !important;
      }
      #content-right {
        padding-bottom: 15px !important;
      }
      
      table, tr, td {
        text-align: center !important;
      }
      table[class="body"] img {
        width: 100% !important; height: auto !important;
        text-align: center !important;
        margin: 0 auto !important;
      }
      table[class="body"] center {
        min-width: 0 !important;
      }
      table[class="body"] .container {
        width: 95% !important;
      }
      table[class="body"] .content .container {
        width: 100% !important;
      }
      table[class="body"] .row {
        width: 100% !important; display: block !important;
      }
      table[class="body"] .wrapper {
        display: block !important; padding-right: 0 !important; padding-left: 0 !important;
      }

      table[class="body"] .icon .wrapper {
        display: inline-block !important;
        margin-right: 5px;
      }
      
      table[class="body"] .columns {
        table-layout: fixed !important; float: none !important; width: 100% !important; padding-right: 0px !important; padding-left: 0px !important; display: block !important;
      }
      table[class="body"] .column.one {
        width: 21px !important;
      }
      table[class="body"] .column.one td {
        display: inline-block !important;
      }
      table[class="body"] .wrapper.first .columns {
        display: table !important;
      }
      table[class="body"] table.columns td {
        width: 100% !important;
      }
      table[class="body"] td.offset-by-one {
        padding-left: 0 !important;
      }
      table[class="body"] td.offset-by-two {
        padding-left: 0 !important;
      }
      table[class="body"] td.offset-by-three {
        padding-left: 0 !important;
      }
      table[class="body"] td.offset-by-four {
        padding-left: 0 !important;
      }
      table[class="body"] td.offset-by-five {
        padding-left: 0 !important;
      }
      table[class="body"] td.offset-by-six {
        padding-left: 0 !important;
      }
      table[class="body"] td.offset-by-seven {
        padding-left: 0 !important;
      }
      table[class="body"] td.offset-by-eight {
        padding-left: 0 !important;
      }
      table[class="body"] td.offset-by-nine {
        padding-left: 0 !important;
      }
      table[class="body"] td.offset-by-ten {
        padding-left: 0 !important;
      }
      table[class="body"] td.offset-by-eleven {
        padding-left: 0 !important;
      }
      table[class="body"] .expander {
        width: 9999px !important;
      }
      table[class="body"] .right-text-pad {
        padding-left: 10px !important;
      }
      table[class="body"] .text-pad-right {
        padding-left: 10px !important;
      }
      table[class="body"] .left-text-pad {
        padding-right: 10px !important;
      }
      table[class="body"] .text-pad-left {
        padding-right: 10px !important;
      }
      table[class="body"] .hide-for-small {
        display: none !important;
      }
      table[class="body"] .show-for-desktop {
        display: none !important;
      }
      table[class="body"] .show-for-small {
        display: inherit !important;
      }
      table[class="body"] .hide-for-desktop {
        display: inherit !important;
      }
      table[class="body"] .right-text-pad {
        padding-left: 10px !important;
      }
      table[class="body"] .left-text-pad {
        padding-right: 10px !important;
      }

      table[class="body"] table.columns td table.button td,
      table[class="body"] table.columns td table.tiny-button td,
      table[class="body"] table.columns td table.small-button td,
      table[class="body"] table.columns td table.medium-button td,
      table[class="body"] table.columns td table.large-button {
        width: 95% !important;
        text-align: center;
      }

      .white.center,
      .green.center {
        width: 600px !important;
      }
      .padding,
      .padding-left,
      .padding-right,
      .footer .padding-left,
      .footer .padding-right {
        padding-left: 0 !important;
        padding-right: 0 !important;
      }
      .padding-top, td.wrapper.top.padding-top {
        padding-top: 0 !important;
      }
      .sub-wrapper {
        padding-left: 2.5% !important;
        padding-right: 2.5% !important;
      }

      table[class="body"] table.columns td table.button td, table[class="body"] table.columns td table.tiny-button td, table[class="body"] table.columns td table.small-button td, table[class="body"] table.columns td table.medium-button td, table[class="body"] table.columns td table.large-button {
        text-align: center !important;
        margin: 0 auto !important;
      }

      .footer td.wrapper h3,
      .footer td.wrapper h5,
      .footer td.wrapper img{
        margin-bottom: 0px;
      }
      table[class="body"] .wrapper.hide-for-mobile {
        display: none !important;
      }
      .hide-for-desk {
        display: block !important;
      }

    }