 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <!-- Facebook sharing information tags -->
  <meta property="og:title" content="*|MC:SUBJECT|*" />      
  <title>*|MC:SUBJECT|*</title>
<link rel="stylesheet" href="../../src/css/default.css" />
</head>
<body id="backgroundTable">
  <table class="body">
    <tr>
      <td class="center" align="center" valign="top">
        <center>
           <table class="row header">
            <tr>
              <td align="center" class="center">
                <table class="container">
                  <tr>
                    <td class="wrapper padding" style="vertical-align: top;">
                      <table class="ten columns">
                        <tr>
                          <td mc:edit="view" class="sub-wrapper center">
                            <p class="small">Problems Viewing? <a href="*|ARCHIVE|*" target="_blank"><b>View Online.</b></a></p>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
          <table class="row content">
            <tr>
              <td align="center" class="center">
                <table class="container">
                  <tr>
                    <td style="padding-top:0px" align="center">
                      <table  class="twelve columns" style="width:600px;">
                        <tr>
                          <td class="center">
                            <img mc:edit="header_image" style="font-size:42px" id="headline" class="font-blue" width="600" style="max-width:600px" src="http://gallery.mailchimp.com/0f1fa58ebb8cf82de747959a1/images/82ff4ef0-8553-4f47-b27a-e14653e77dd4.gif" alt="70kft">
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
          <table class="row white">
            <tr>
              <td align="center" class="center">
                <table class="container">
                  <tr>
                    <td class="wrapper padding sand-top">
                      <table class="ten columns">
                        <tr>
                          <td mc:edit="playlist_header">
                            <h2>{{title-1}}</h2>
                            <p>try</p>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>
                    </td>
                  </tr>       
                </table>
              </td>
            </tr>
            <tr>
              <td align="center" class="center padding">
                <table class="container end">
                  <tr>
                    <td class="wrapper sand-bot">
                      <table class="five columns">
                        <tr>
                          <td mc:edit="playlist_image" class="padding-right">
                           <a href="https://www.youtube.com/playlist?list=PLwIXk27574UpNp_7em1DxgoIFntOad1Jx" target="_blank"><img mc:edit="soundtrack image" src="http://gallery.mailchimp.com/0f1fa58ebb8cf82de747959a1/images/Playlist_Grid.jpg" width="250" height="250" style="max-width: 250px" alt="Playlist_Grid.jpg"></a>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>
                    </td>
                    <td class="wrapper sand-bot">
                      <table class="five columns">
                        <tr>
                          <td mc:edit="playlist_body" class="padding-left">
                            <p>{{body-1}}</p>
                          </td>
                          <td class="expander"></td>
                        </tr>
                        <tr>
                          <td class="padding-left">
                            <table class="button">
                              <tr>
                                <td>
                                  <a href="#" target="_blank">{{button-1}}</a>
                                </td>
                              </tr>
                            </table>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
          <table class="row blue">
            <tr>
              <td align="center" class="center padding">
                <table class="container end">
                  <tr>
                    <td class="wrapper">
                      <table class="ten columns">
                        <tr>
                          <td mc:edit="featured_staff">
                            <h2>{{title-2}}</h2>
                            <p>{{body-2}}</p>   
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
          <table class="row footer">
            <tr>
              <td align="center" class="center padding">
                <table class="container end">
                  <tr>
                    <td class="wrapper">
                      <table class="ten columns">
                        <tr>
                          <td class="center">
                           <p class="smaller"><a href="#" target="_blank">unsubscribe</a>.</p>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </center>
      </td>
    </tr>
  </table>
</body>
</html>
                        